[Desktop Entry]
Encoding=UTF-8
Name=Crypto
Exec=crypto
Type=Application
Categories=GTK;Utility;Finance;Monitor
Comment=A crypto currency watcher made with GTK+3
Terminal=false
Version=1.1
